bokeh==3.2.2
certifi==2022.12.7
click-plugins==1.1.1
colorcet==3.0.1
docopt==0.6.2
et-xmlfile==1.1.0
Fiona==1.9.3
GDAL==3.6.3
holoviews==1.18.0
ipython-genutils==0.2.0
linkify-it-py==2.0.2
Markdown==3.5
markdown-it-py==3.0.0
mdit-py-plugins==0.4.0
mdurl==0.1.2
munch==2.5.0
munkres==1.1.4
openpyxl==3.1.2
panel==1.2.3
param==1.13.0
pipreqs==0.4.13
pyct==0.5.0
pyviz_comms==3.0.0
pywin32==304
scipy==1.10.1
seaborn==0.13.0
Shapely==1.8.5.post1
tqdm==4.66.1
uc-micro-py==1.0.2
webencodings==0.5.1
yarg==0.1.9